
.CardsSection
    width: 100%
    display: flex
    justify-content: center
    gap: 2rem
    flex-wrap: wrap

.Card
    width: 300px

    display: flex
    flex-direction: column
    align-items: center

    gap: 3rem

    text-align: justify
