@use '@styles/mixins'
@use '@styles/breakpoints' as *
@use '@styles/variables' 

.aboutUs
    width: 100%
    display: flex
    flex-direction: column
    justify-content: space-evenly

.cardsSection
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 10px
    @include md
        justify-content: space-between

.card
    min-height: 400px
    width: 280px
    display: flex
    flex-direction: column

.cardImageTitle
    display: flex
    flex-direction: column
    gap: 30px
    h3
        margin: 10px auto
        text-align: center

.cardText

    p
        margin: 10px
        text-align: justify

.link

    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    margin-top: 30px
