.banner
    height: 70%
    align-self: center
    /*Imagem usada*/
    background-image: url('../../images/foto-header.png')
    /*Opções de posicionamento*/
    background-size: cover
    background-position: center
    background-repeat: no-repeat

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    h1
        text-align: center
        color: white
        text-shadow: 1px 1px 1px rgba(20,20,20,.4)

.ChamadaVagas
    height: 30%
    width: min(120rem, 90%)

    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

    margin: auto

    text-align: center

    p
        padding: 1rem

    a
        padding: 1rem
        border-top: 1px solid
