@use 'variables'
@use 'mixins'

:root
    font-size: variables.$font-size
    line-height: 24px
    font-weight: variables.$font-normal

*
    padding: 0px
    margin: 0px
    font-family: variables.$font-stack, sans-serif
    box-sizing: border-box

html
    scroll-behavior: smooth
    -webkit-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased

body
    width: 100vw

main
    display: flex
    flex-direction: column
    max-width: 960px
    margin: 0 auto

img
    height: 100%

h1
    font-size: mixins.rem(44px)
    font-weight: variables.$font-bold
    color: variables.$h1-color

h2
    font-size: mixins.rem(24px)
    font-weight: 700
    color: variables.$text-color
    text-transform: uppercase

p
    color: variables.$text-color

a
    text-transform: uppercase
    font-weight: variables.$font-bold
    color: variables.$elo7-color-green
    text-decoration: none

hr

    width: 200px
    height: 1px
    min-width: 100px
    background: #cfcfcf
    border: none

section

    min-height: 620px
